//_mixins.scss


// colors
$dark-blue     : RGB(49, 96, 248);
$light-blue    : RGB(86, 116, 251);
$highlight-blue: RGB(109, 235, 251);
$font-color  : RGB(173, 173, 176);
$bg-1: RGB(173, 173, 176);
// font sizes
$copy-1: 1.3rem;
$copy-2: 1.9rem;
$copy-3: 3.0rem;
$copy-4: 4.0rem;
$copy-5: 5.0rem;
$copy-7: 7.0rem;
$copy-8: 8.0rem;
// font weights
$weight-thin        : 100;
$weight-normal      : 400;
$weight-semibold    : 500;
$weight-bold        : 600;

